<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{partials/posts-partials.html :: myheader('Create Posts')}">
    <title id="pageTitle"></title>
</head>
<body>
        <nav th:replace="~{partials/posts-partials.html :: mynav}"></nav>
        <div th:if="post" class="inputs">
            <form th:action="@{/posts/create}" method="post">
                <label for="title">Post Title:</label>
                <input type="text" name="title" id="title"><br>
                <label for="body">Post Body:</label>
                <textarea type="text" name="body" id="body"></textarea>
                <button type="submit" id="postButton">Submit Post</button>
            </form>
        </div>
        <div th:replace="~{partials/posts-partials.html :: foot}"></div>
</body>
</html>