<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <div th:replace="partials/posts-partials.html :: myheader"></div>
</head>
<body>
<nav th:insert="partials/posts-partials.html :: mynav"></nav>
<div th:if="post" class="inputs">
  <form action="/posts/delete" method="get">
    <label for="title">Post Title:</label>
    <input type="text" name="title" id="title"><br>
    <button type="submit" id="deleteButton">Delete Post</button>
  </form>
</div>
<div th:insert="partials/posts-partials.html :: foot"></div>
</body>
</html>