<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{partials/posts-partials.html :: myheader('Show all post')}">
<title id="pageTitle"></title>
</head>
<body>
<nav th:replace="~{partials/posts-partials.html :: mynav}"></nav>
<div th:if="${post}">
    <h2 th:text="${post.title}">Post:</h2>
    <p th:text="${post.body}"></p>
    <p th:text="${post.user.email}"></p>
</div>
<p th:unless="${post}">Could not find any posts</p>

<div th:insert="~{partials/posts-partials.html :: foot}"></div>
</body>
</html>